.profile{
    font-size: medium;
}
.order{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgpro{
    height: 100px;
    width: 100px;
    float: left;
}
.orderfinal{
    margin-right: 100px;
}
.titleorder{
    padding-top: 50px;
    padding-left: 700px;
}
.quantity{
   display: flex;
   justify-content: flex-end;
   margin-top: 0;
}
